<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Main test suit" verbose="1" >
    <test name="Basic Solvers" >
        <classes>
            <class name="de.mh4j.solver.AbstractSolverTest" />
        </classes>
    </test>
    
    <test name="Genetic Solvers" >
        <packages>
   	        <package name="de.mh4j.solver.genetic" />
   	        <package name="de.mh4j.solver.genetic.darwin" />
   	        <package name="de.mh4j.solver.genetic.genepool" />
   	        <package name="de.mh4j.solver.genetic.matingselection" />
   	    </packages>        
    </test>
</suite>
