<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All Examples" verbose="1" >
    <test name="SortingTest" >
        <classes>
            <class name="de.mh4j.examples.SortingTest" />
        </classes>
    </test>
    <test name="SimulatedAnnealing Example" >
        <classes>
            <class name="de.mh4j.examples.solver.LocalSearchSorterTest" />
        </classes>
    </test>
</suite>
