<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Main test suit" verbose="1" >
    <test name="Implementation examples test" >
        <classes>
            <class name="de.mh4j.examples.SortingTest" />
        </classes>
    </test>
    
    <test name="Concurrency tests" >
        <classes>
            <class name="de.mh4j.concurrency.SolverThreadTest" />
        </classes>
    </test>
</suite>
